<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title slot="end">Check In Data</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <ion-item> -->


    <!-- <div class="grid-0 cols-4 w-full tac  "> -->
    <div class="flex px-075 mt-075">
        <ion-button (click)="topFiveVisited()" class="w-full">Top 5</ion-button>
        <ion-button (click)="showData(7)" class="w-full">7 days</ion-button>
        <ion-button (click)="showData(30)" class="w-full">30 days</ion-button>
        <ion-button (click)="showData(365)" class="w-full">All</ion-button>
    </div>
    <!-- </ion-item> -->
    <ion-card>
        <div style="min-height: 500px;">
            <canvas #myChart></canvas>
        </div>
    </ion-card>
    <ion-card color="dark" *ngIf="env.testing">
        <ion-card-content class="tac">
            <div class="mb-05"> <small>For testing. Set testing=false in the env file to hide.</small></div>
            <ion-button (click)="addRandomCheckIn()" size="small">Random Check In</ion-button>
            <ion-button (click)="clearCheckInData()" size="small">Clear</ion-button>
            <ion-button (click)="restoreOriginalData()" size="small">Restore</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
