<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="cancel()"> Cancel </ion-button>
        </ion-buttons>
        <ion-title class="tac">Edit Profile</ion-title>
        <ion-buttons slot="end">
            <ion-button id="open-toast" (click)="save()"> Save </ion-button>
        </ion-buttons>
        <ion-toast trigger="open-toast" color="success" position="bottom" message="Profile Saved" [duration]="2000"></ion-toast>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">

    <ion-fab horizontal="end">
        <ion-fab-button (click)="takeProfilePhoto()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="tac relative">
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
                    <ion-img [src]="photo.webviewPath"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>

        <!-- <img src="{{imageSource}}" class="round wh-10" alt=""> -->
        <!-- <img src="assets/images/avatar.png" alt="profile picture"> -->

    </div>

    <ion-list class="mt">
        <ion-item>
            <ion-input [(ngModel)]="user.name" label="Name" labelPlacement="floating" />
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="user.email" type="email" label="Email" labelPlacement="floating" />
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="user.phone" type="phone" label="Phone" type="tel" labelPlacement="floating" />
        </ion-item>
        <ion-item id="open-date-popover">
            <ion-input [(ngModel)]="user.birthday" label="Birthday" labelPlacement="floating" />
        </ion-item>
        <ion-popover trigger="open-date-popover" size="cover">
            <ng-template>
                <ion-datetime #bday presentation="date" (ionChange)="setBirthday(bday.value)"
                    [preferWheel]="true" [showDefaultButtons]="true" size="cover"></ion-datetime>
            </ng-template>
        </ion-popover>
        <ion-item>
            <ion-toggle [(ngModel)]="showNotifications">Show Notifications</ion-toggle>
        </ion-item>
    </ion-list>
    <div class="mt tac">
        <ion-button class="w-10" (click)="logout()">Logout</ion-button>
    </div>
</ion-content>
