<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon name="chevron-back-outline"></ion-icon>
                Back
            </ion-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-fab horizontal="end">
        <ion-fab-button (click)="takeProfilePhoto()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="tac">
        <img class="wh-14 round" [src]="photoService.photos.length > 0 ? photoService.photos[0]?.webviewPath : 'assets/images/avatar.png'" />
    </div>

    <ion-list class="mt">
        <ion-item>
            <ion-input [(ngModel)]="user.name" label="Name" labelPlacement="floating" />
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="user.email" type="email" label="Email" labelPlacement="floating" />
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="user.phone" type="phone" label="Phone" type="tel" labelPlacement="floating" />
        </ion-item>
        <ion-item id="open-date-popover">
            <ion-input [(ngModel)]="user.birthday" label="Birthday" labelPlacement="floating" />
        </ion-item>
        <ion-popover trigger="open-date-popover" size="cover">
            <ng-template>
                <ion-datetime #bday presentation="date" (ionChange)="setBirthday(bday.value)"
                    [preferWheel]="true" [showDefaultButtons]="true" size="cover"></ion-datetime>
            </ng-template>
        </ion-popover>
    </ion-list>
    <div class="mt tac">
        <ion-button class="w-10" (click)="logout()">Logout</ion-button>
        <ion-button class="w-10" (click)="resetApp()" fill="outline">Reset</ion-button>
    </div>
</ion-content>
