<ion-content [fullscreen]="true">
    <ion-button (click)="addRandomCheckIn()" size="small">Random Check In</ion-button>
    <div class="tac my-2">
        <ng-container *ngIf="! isCheckedIn; else checkedInSection">
            <!-- <div> -->
            <svg class="icon wh-5 green round pxy-05 cursor-pointer" style="fill: white;">
                <use xlink:href="/assets/svg/ui-sprite.svg#location-pin"></use>
            </svg>
            <p class="my-05">Check in to let your mates know where you are.</p>
            <div>
                <ion-item class="inline-flex ha-c mt-075">
                    <ion-select interface="action-sheet" placeholder="Select Venue to Check In" (ionChange)="selectVenue($event)" maxlength="20">
                        <ion-select-option *ngFor="let venue of selectableVenues;" [value]="venue">
                            <ion-item>{{venue.name}}</ion-item>
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
        </ng-container>
        <ng-template #checkedInSection>
            <div (click)="checkOut()" class="tac">
                <div>
                    <svg class="icon wh-5 red round pxy-05 cursor-pointer" style="fill: white;">
                        <use xlink:href="/assets/svg/ui-sprite.svg#location-pin"></use>
                    </svg>
                </div>
                <!-- NK::TD -->
                <h5 class="mt-0 bdr">Check Out</h5>
                <h4 class="txt-green bdr">Checked in at: {{checkedInVenue}}</h4>
            </div>
        </ng-template>
    </div>

    <ion-card [routerLink]="['/find-mates']">
        <div class="flex va-c pxy-1">
            <svg class="icon wh-4 mr-2 ">
                <use xlink:href="/assets/svg/ui-sprite.svg#cheers"></use>
            </svg>
            <div>
                <h4 class="my-0">Find Mates</h4>
                <p class="my-0">You have {{totalCheckedIn}} mates checked in</p>
            </div>
        </div>
    </ion-card>
    <ion-card [routerLink]="['/favourite-beers']">
        <div class="flex va-c pxy-1">
            <svg class="icon wh-4 mr-2 ">
                <use xlink:href="/assets/svg/ui-sprite.svg#beer"></use>
            </svg>
            <div>
                <h4 class="my-0">My Beers</h4>
                <p class="my-0">Track beer prices</p>
            </div>
        </div>
    </ion-card>
    <ion-card [routerLink]="['/venues']">
        <div class="flex va-c pxy-1">
            <svg class="icon wh-4 mr-2 ">
                <use xlink:href="/assets/svg/ui-sprite.svg#venue"></use>
            </svg>
            <div>
                <h4 class="my-0">Venues</h4>
            </div>
        </div>
    </ion-card>
    <ion-card (click)="displayEditUserProfile()">
        <div class="flex va-c pxy-1">
            <svg class="icon wh-4 mr-2 fs0">
                <use xlink:href="/assets/svg/ui-sprite.svg#drinker"></use>
            </svg>
            <div>
                <h4 class="my-0">Profile and Preferences</h4>
                <p class="mt-025">Personalize your profile and fine-tune app settings.</p>
            </div>
        </div>
    </ion-card>
</ion-content>
