<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon src="assets/svg/home.svg"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="find-mates">
            <ion-icon src="/assets/svg/cheers.svg"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="my-beers">
            <ion-icon src="/assets/svg/beer.svg"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="profile">
            <ion-icon src="/assets/svg/drinker.svg"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>


<!-- <ion-tabs (ionTabsDidChange)="showHideToolbar()">
    <div *ngIf="showTabs">

    </div>
</ion-tabs> -->
