<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title class="tac">
            <h2>{{editing ? editingItem.beer.name : 'Add Beer'}}</h2>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <div *ngIf="editing; then editingBlock else newItemBlock"></div>

    <ng-template #editingBlock>
        <ion-item>
            <ion-img src="assets/images/{{editingItem.beer.image}}" alt="{{editingItem.beer.name}}" class="mx-auto py-1"></ion-img>
        </ion-item>


        <!-- {{editingItem.venues | json}} -->


        <ion-toolbar color="dark">
            <ion-title>Venue Pricing</ion-title>

            <ion-buttons slot="end">
                <ion-button (click)="select.open()">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-button>
            </ion-buttons>

            <nk-venue-pricing #select></nk-venue-pricing>

            <!-- <ion-item>
                <ion-select interface="action-sheet" label="Select Beer" label-placement="stacked" (ionChange)="onSelectChange($event)">
                    <ion-select-option *ngFor="let beer of beers;" [value]="beer">
                        <ion-item>{{beer.name}}</ion-item>
                    </ion-select-option>
                </ion-select>
            </ion-item> -->
        </ion-toolbar>

        <ion-item-sliding *ngFor="let venue of editingItem.venues">
            <ion-item>
                <div class="flex space-between w-full ha-c">
                    <div class="fg1">{{venue.name}}</div>
                    <ion-input value="${{venue.price}}" type="tel" min="0" max="10000" class="fg0 tar"></ion-input>
                </div>
            </ion-item>
            <ion-item-options>
                <!-- <ion-item-option (click)="delete(venue.venue_id)" color="danger">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option> -->
            </ion-item-options>
        </ion-item-sliding>


    </ng-template>

    <ng-template #newItemBlock>

        <ion-item>
            <ion-select interface="action-sheet" label="Select Beer" label-placement="stacked" (ionChange)="onSelectChange($event)">
                <ion-select-option *ngFor="let beer of beers;" [value]="beer">
                    <ion-item>{{beer.name}}</ion-item>
                </ion-select-option>
            </ion-select>
        </ion-item>

        <!-- display beer details and venue options when item is selected  -->
        <div *ngIf="editingItem == undefined; then pleaseSelectBlock else itemSelectedBlock"></div>

        <ng-template #pleaseSelectBlock>
            <ion-card>
                <ion-card-content class="pxy-1 tac">Select a beer from the list to display venue details</ion-card-content>
            </ion-card>
        </ng-template>

        <ng-template #itemSelectedBlock>
            <ion-item>
                <ion-img src="assets/images/{{editingItem.beer.image}}" alt="{{editingItem.beer.name}}" class="mx-auto py-1"></ion-img>
            </ion-item>
        </ng-template>

    </ng-template>
</ion-content>
