<ion-header>
    <ion-toolbar color="primary">
        <ion-title>My Beers</ion-title>
        <ion-buttons slot="end">
            <!-- <ion-button id="open-modal" expand="block" (click)="addBeer()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list #beer>
        <ion-item-sliding *ngFor="let favB of favBeerList;">
            <!-- <ion-item (click)="displayBeer(item)"> -->
            <ion-item >
                <ion-thumbnail slot="start" class="mr-0">
                    <img alt="{{favB.beer.name}}" src="assets/images/{{favB.beer.image}}" style="width: auto; max-height: 100%;" />
                </ion-thumbnail>
                <ion-label>
                    {{favB.beer.name}}
                    <div class="txt-muted">Venue Cheapest Name - $8.00 <span class="txt-red">Make Dynamic</span></div>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option (click)="delete(favB.beer.id)" color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
