<ion-header>
    <ion-toolbar color="primary">
        <ion-title>My Beers</ion-title>
        <ion-buttons slot="end">
            <ion-button id="open-modal" expand="block" (click)="createEdit(null, false)">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list #beer class="py-0">
        <ion-item-sliding *ngFor="let favBeer of favBeers;">
            <ion-item (click)="createEdit(favBeer, true)">
                <ion-thumbnail slot="start" class="mr-0">
                    <img alt="{{favBeer.beer.name}}" src="assets/images/{{favBeer.beer.image}}" style="width: auto; max-height: 100%;" />
                </ion-thumbnail>
                <ion-label>
                    {{favBeer.beer.name}}
                    <div class="txt-muted mt-025"> <small><b>Cheapest Venue:</b> {{ favBeer.cheapest?.venue }} ${{ favBeer.cheapest?.price?.toFixed(2) }}</small></div>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option (click)="delete(favBeer.id)" color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
