@use "node_modules/nk_jtb/scss/base/vars_base" as *;
@use "node_modules/nk_jtb/scss/base/vars_components" as *;

@use "node_modules/nk_jtb/scss/components/box";

@use "node_modules/nk_jtb/scss/utilities/display_visibility";
@use "node_modules/nk_jtb/scss/utilities/flex";
@use "node_modules/nk_jtb/scss/utilities/general";
@use "node_modules/nk_jtb/scss/utilities/grid";
@use "node_modules/nk_jtb/scss/utilities/position";
@use "node_modules/nk_jtb/scss/utilities/sizes";
@use "node_modules/nk_jtb/scss/utilities/spacing";
@use "node_modules/nk_jtb/scss/utilities/text";
@use "node_modules/nk_jtb/scss/utilities/themes";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// a {
//     text-decoration: none;
// }

// svg {
//     fill: currentcolor; // allows svg to inherit color
// }

// .round {
//     border-radius: 100vmax;
// }

nk-testing{
    width: 100%;
}

ion-content {
    --background: #f9dd72;
}

ion-modal {
    --background: rgba(255, 255, 255, 0.9);

    &::part(content) {
        backdrop-filter: blur(6px);
    }

    ion-content {
        // --background: transparent;
        --background: rgba(255,255,255, 0.8);
    }
}
