<ion-content [fullscreen]="true">

    <!-- this div is because ionic makes it difficult to add background images!!! -->
    <div class="bg h-screen ion-padding flex-col ha-c va-c">

        <div>
            <img src="../../../assets/favicon.svg" alt="nathan watts favicon" class="wh-10">
        </div>

        <div class="tac my-5">
            <h1 class="txt-3 fw9">HAPPY HOUR</h1>
            <h3 class="mb-5"><em>DRINK HAPPY, SAVE HAPPY, BE HAPPY</em></h3>
            <p class="px-2 lead">Find your mates and the cheapest beer at your favourite venues</p>
        </div>

        <div class="w-full">
            <ion-button [routerLink]="['/login']" expand="full">Login</ion-button>
        </div>
    </div>

</ion-content>

